{{ partial "head" . }}
{{ partial "nav" . }}
{{ partial "jumbotron" (dict "imageUrl" "/img/about/jumbotron.jpg" "title" "Wood") }}

<div class="mw7 center ph3 pt4">

  {{ partial "media-block" (dict "heading" "Transparency - all time is smart-phone logged" "text" "Nothing is worse than not trusting the time you are billed. We log every team member in when they arrive at a job and leave a job. Our clients are only billed when we are actually on the job site. We provide transparency for each team member to our clients so we can perserve our 100% success rate of never having a client question the time on the bill." "imageUrl" "/img/about/shade-grown.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" " We work in 805 Only" "text" "Single-origin contracting limits our work within a single known geographic origin. By supporting this business you know you are supporting a company and teams of Restorationists that are in your community." "imageUrl" "/img/about/single-origin.jpg") }}

  {{ partial "media-block" (dict "heading" "Sustainable Products" "text" "Sustainable coatings in sustainable ways based on an understanding of ecosystem services, the study of relationships between organisms and their environment. What grows where and how it is grown are a matter of choice and careful consideration for nature and communities." "imageUrl" "/img/about/sustainable-farming.jpg") }}

  {{ partial "media-block-reverse" (dict "heading" "Direct sourcing" "text" "Direct trade is a form of sourcing practiced by some coffee roasters. Advocates of direct trade practices promote direct communication and price negotiation between buyer and farmer, along with systems that encourage and incentivize quality." "imageUrl" "/img/about/direct-sourcing.jpg") }}

  {{ partial "media-block" (dict "heading" "Reinvest profits" "text" "We want to truly empower the individual local communities in the 805 area code that bring us our customers. That’s why we reinvest 20% of our profits into farms, local businesses and schools everywhere our business takes us. You can see the communities grow and learn more about wood restoration on our blog." "imageUrl" "/img/about/reinvest-profits.jpg") }}
</div>

{{ partial "footer" . }}
